{{ define "main" }}
<article itemscope itemtype="http://schema.org/Article" class="container" id="main">
  {{i18n "associatedPosts"}} "{{.Title}}":
  <ul>
   <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
    {{ range .Pages.ByDate }}
        <li><a href="{{ .Permalink }}">{{ replace .Title "*" "" }}</a></li>
    {{ end }}
    </ul>
</article>
{{ end }}