details > div {
background-color: lightgray;
}

.links{
  margin-right: auto;
  margin-left: 20px;
}

.social{
  margin-left: auto;
  margin-right: 20px;
}

@media(max-width: 600px){
  .reseauxsociaux{
    display: none;
  }
  .derniersarticles{
    display: none;
  }
}

.competence{
  font-weight: bold;
}

.c_comprendre{
  color:#c12929;
}

.c_concevoir{
  color:#d57c0d;
}


.c_exprimer{
  color:#a3ad11;
}


.c_developper{
  color:#78d170;
}

.c_entreprendre{
  color:#0dccf2;
}