{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "sitePath" .Site.BaseURL }}

{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" .Site.BaseURL "name" .Site.Title "position" 1 )) }}
{{ range $index, $element := split $siteUrl "/" }}
	{{ $.Scratch.Add "sitePath" $element }}
	{{ $.Scratch.Add "sitePath" "/" }}
	{{ if ne $element "" }}
		{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" ($.Scratch.Get "sitePath") "name" . "position" (add $index 2))) }}
	{{ end }}
{{ end }}

<ul class="breadcrumb hide-xs" role="navigation" aria-label="breadcrumbs">
  <!-- Initialise a scratch variable "path" to an empty string -->
  {{ $.Scratch.Set "path" "" }}
  <li><a href="/">Accueil</a></li>
  <!-- For each non-empty item in the URL path -->
  {{ range $element := split .RelPermalink "/" }}
		{{ if ne $element "" }}
		  <!-- Add the element to the scratch variable -->
		  {{ $.Scratch.Add "path" "/" }}{{ $.Scratch.Add "path" $element }}
		  <!-- Populate the href from the scratch variable -->
		  <li><a href="{{ $.Scratch.Get "path" }}">{{ humanize . }}</a></li>
	  {{ end }}
	{{ end }}
</ul>

