{{ $datestr := delimit ( slice now.Day " " (index $.Site.Data.mois (printf "%d" now.Month)) " " now.Year) " " }}
<footer class="container">
  <div class="row">
    <div class="col-12">
        Designed with ♥ by {{ .Site.Author.name }}
    </div>
    
  </div>
  <div class="row">
    <div class="col-4">
      <ul>
        <li>{{ $url := ref . "/mentionslegales.md" }}
          <a href="{{ $url }}">Mentions légales</a>
        </li>
        <li>{{ $url := ref . "/apropos.md" }}
          <a href="{{ $url }}">A propos</a>
        </li>
      </ul>
      <hr/>
      Site version &beta;<br/>
      Dernière mise à jour : {{$datestr}}
      <hr/>
      {{ .Site.Author.copyright}}
    </div>
    <div class="col-4 reseauxsociaux">
      <p>Retrouvez-nous sur :</p>
      <ul>
        <li><a href="https://www.facebook.com/mmiLePuy" target="_new" aria-label='Aller sur notre page Facebook'>Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UCAnyXWkn1P1aD7Rohdgdgtg" target="_new" aria-label='Aller sur notre chaîne Youtube'>Youtube</a></li>
        <li><a href="https://www.instagram.com/mmilepuyenvelay/" target="_new" aria-label='Aller sur notre page Instagram'>Instagram</a></li>
      </ul>
      <br/>
      <p>Retrouvez les créations de nos étudiants sur le site : <a href="http://mmicreations.iut-lepuy.fr/" target="_new" aria-label='Aller sur notre site http://mmicreations.iut-lepuy.fr/'>http://mmicreations.iut-lepuy.fr/</a> </p>
    </div>
    <div class="col-4 derniersarticles">
      <p>Derniers articles</p>
      <ul>
        {{$posts := ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse}}
        <!--Grab the most recent-->
        {{ range first 5 $posts }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
      </ul>    
    </div>  
  </div>
</footer>