<header class="grouped icones">
    <div class="links">
        <a href="http://interface.mmi-lepuy.fr" target="_new"><img class="pictomenu" alt="Logo Interface" src="/img/interface.png"/></a><a href="http://mmicreations.iut-lepuy.fr" target="_new"><img class="pictomenu" alt="Logo CreaMMI" src="/picto/crea.svg"/></a>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/mmiLePuy" target="_new"><img class="pictomenu" alt="logo FB" src="/picto/Facebook.svg"/></a>
        <a href="https://www.linkedin.com/school/mmi-le-puy/" target="_new"><img class="pictomenu" alt="logo LinkedIn" src="/picto/linkedin.svg"/></a>
        <a href="https://www.instagram.com/mmilepuyenvelay/" target="_new">   <img class="pictomenu" alt="logo Insta" src="/picto/insta.svg"/></a>
        <a href="https://www.youtube.com/channel/UCAnyXWkn1P1aD7Rohdgdgtg" target="_new"><img class="pictomenu" alt="logo youtube" src="/picto/youtube.svg"/></a>
    </div>
</header>