<div class="row">
  <div class="col text-center"> <a class="theme-switch" href="javascript:void(0)" id="theme-switch" title="{{i18n "switchToLight"}}" onclick="switchMode(this,{{i18n "switchToLight"}},{{i18n "switchToDark"}})">🌙</a>
  </div>
</div>
<ul>
  <li><a href="{{ .Site.BaseURL }}">MMI Le Puy</a></li>
  {{ range .Site.Menus.main.ByWeight }}
  {{ if .HasChildren }}
  <li>{{ .Name }}
    <ul>
      {{ range .Children }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </li>
  {{ else }}
  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
  {{ end }}
  {{ end }}
</ul>
