<div class="row">
  <iframe allowfullscreen src='{{.Get "url"}}' width='620' height='349'  frameborder='1' scrolling='no' marginwidth='0' marginheight='0' allowfullscreen='true' webkitallowfullscreen='true' mozallowfullscreen='true' ></iframe>
</div>